fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
pillow
python-multipart
boto3
aiofiles
python-dotenv
pydantic[email]
passlib[bcrypt]==1.7.4
bcrypt<4
python-jose[cryptography]
PyJWT
requests
httpx
beautifulsoup4

# Development dependencies
black
flake8
mypy
isort
pytest
pytest-asyncio